#container {
    display: flex;
}

.none {
    display: none;
}

.flex {
    display: flex;
}

#sidebar {
    width: 17%;
    height: 1100px;
    background-color: #1f1f23;
    display: flex;
    justify-content: center;
    ul {
        width: 100%;
        height: 1100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        li {
            width: 45%;
            height: 6%;
            color: white;
            display: flex;
            flex-direction: column-reverse;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}

#main {
    width: 80%;
    height: 100%;
    background-color: #fff;
    #a-column{
        width: 30%;
        height: 1100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .img {
            width: 100%;
            height: 40%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            img {
                border-radius: 3px;
            }
        }
        .ip {
            width: 100%;
            height: 25%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            p {
                display: flex;
                justify-content: center;
            }
        }
    }
    #b-column {
        width: 65%;
        height: 1100px;
        .biography {
            width: 100%;
            height: 42%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
    }
}