* {
  padding: 0;
  margin: 0;
}
#body {
  display: flex;
}
#topbar {
  display: flex;
  width: 100%;
  height: 56px;
  align-items: center;
  background-color: #18181b;
}
#topbar a {
  width: 10%;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: white;
}
#topbar a:hover {
  text-decoration: underline;
}
